###STATISTICAL LEARNING PROJECT###

In [1]:
#Mounted the G-Drive
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
#Checking if the drive is mounted correctly
pwd()

'/content'

## Import numpy and Pandas

In [0]:
### importing Numpy
import numpy as np

### importing Pandas
import pandas as pd

### used to create random numbers
from numpy.random import randn 

import seaborn as sns
from matplotlib import pyplot as plt
from numpy import *
from pandas import DataFrame
from pandas import Series

##Reading the data set of La Liga cup a football tournament teams data

In [4]:
Laliga = pd.read_csv('/content/drive/My Drive/Great_Lakes_Assignments/StatisticalLearning_Project1/Laliga.csv')
Laliga.head()

  Unnamed: 0       Unnamed: 1  ...    Unnamed: 18   Unnamed: 19
0        Pos             Team  ...  Since/LastApp  BestPosition
1          1      Real Madrid  ...           1929             1
2          2        Barcelona  ...           1929             1
3          3  Atletico Madrid  ...        2002-03             1
4          4         Valencia  ...        1987-88             1

[5 rows x 20 columns]

In [5]:
Laliga.shape

(62, 20)

In [6]:
Laliga.size

1240

In [0]:
##Iris[Iris['Class'] == "Iris-setosa"]

In [8]:
Laliga.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [9]:
Laliga_cols = Laliga.loc[0]
Laliga_cols

Unnamed: 0               Pos
Unnamed: 1              Team
Unnamed: 2           Seasons
Unnamed: 3            Points
Unnamed: 4       GamesPlayed
Unnamed: 5          GamesWon
Unnamed: 6        GamesDrawn
Unnamed: 7         GamesLost
Unnamed: 8          GoalsFor
Unnamed: 9      GoalsAgainst
Unnamed: 10         Champion
Unnamed: 11        Runner-up
Unnamed: 12            Third
Unnamed: 13           Fourth
Unnamed: 14            Fifth
Unnamed: 15            Sixth
Unnamed: 16                T
Unnamed: 17            Debut
Unnamed: 18    Since/LastApp
Unnamed: 19     BestPosition
Name: 0, dtype: object

In [0]:
Laliga.columns = Laliga_cols

In [11]:
Laliga.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition'],
      dtype='object', name=0)

In [12]:
Laliga.head()

0  Pos             Team  Seasons  ...    Debut  Since/LastApp  BestPosition
0  Pos             Team  Seasons  ...    Debut  Since/LastApp  BestPosition
1    1      Real Madrid       86  ...     1929           1929             1
2    2        Barcelona       86  ...     1929           1929             1
3    3  Atletico Madrid       80  ...     1929        2002-03             1
4    4         Valencia       82  ...  1931-32        1987-88             1

[5 rows x 20 columns]

In [0]:
Laliga = Laliga.drop(0, axis=0)

In [14]:
Laliga.head()

0 Pos             Team Seasons Points  ...   T    Debut Since/LastApp BestPosition
1   1      Real Madrid      86   4385  ...  79     1929          1929            1
2   2        Barcelona      86   4262  ...  83     1929          1929            1
3   3  Atletico Madrid      80   3442  ...  56     1929       2002-03            1
4   4         Valencia      82   3386  ...  50  1931-32       1987-88            1
5   5  Athletic Bilbao      86   3368  ...  49     1929          1929            1

[5 rows x 20 columns]

In [0]:
Laliga['Pos'] = Laliga.Pos.astype(int)

In [16]:
Laliga = Laliga.set_index(['Pos'])
Laliga.head()

0               Team Seasons Points  ...    Debut Since/LastApp BestPosition
Pos                                  ...
1        Real Madrid      86   4385  ...     1929          1929            1
2          Barcelona      86   4262  ...     1929          1929            1
3    Atletico Madrid      80   3442  ...     1929       2002-03            1
4           Valencia      82   3386  ...  1931-32       1987-88            1
5    Athletic Bilbao      86   3368  ...     1929          1929            1

[5 rows x 19 columns]

In [17]:
Laliga.rename(columns = {"T":"Total"},inplace=True)
Laliga.rename(columns = {"Runner-up":"Runner_up" },inplace=True)
Laliga.rename(columns = {"Since/LastApp":"Since_LastApp" },inplace=True)
Laliga.columns

Index(['Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon', 'GamesDrawn',
       'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion', 'Runner_up',
       'Third', 'Fourth', 'Fifth', 'Sixth', 'Total', 'Debut', 'Since_LastApp',
       'BestPosition'],
      dtype='object', name=0)

In [18]:
Laliga.shape

(61, 19)

##Replacing all "-" by 0

In [0]:
Laliga.replace('-',0,inplace=True)

In [20]:
Laliga.head(20)

0                   Team Seasons Points  ...    Debut Since_LastApp BestPosition
Pos                                      ...
1            Real Madrid      86   4385  ...     1929          1929            1
2              Barcelona      86   4262  ...     1929          1929            1
3        Atletico Madrid      80   3442  ...     1929       2002-03            1
4               Valencia      82   3386  ...  1931-32       1987-88            1
5        Athletic Bilbao      86   3368  ...     1929          1929            1
6                Sevilla      73   2819  ...  1934-35       2001-02            1
7               Espanyol      82   2792  ...     1929       1994-95            3
8          Real Sociedad      70   2573  ...     1929       2010-11            1
9               Zaragoza      58   2109  ...  1939-40       2012-13            2
10            Real Betis      51   1884  ...  1932-33       2015-16            1
11   Deportivo La Coruna      45   1814  ...  1941-42       2014-15            1
12            Celta Vigo      51   1789  ...  1939-40       2012-13            4
13            Valladolid      42   1471  ...  1948-49       2013-14            4
14      Racing Santander      44   1416  ...     1929       2011-12            2
15        Sporting Gijon      43   1389  ...  1944-45       2015-16            2
16               Osasuna      37   1351  ...  1935-36       2016-17            4
17                Malaga      36   1314  ...  1949-50       2008-09            4
18                Oviedo      38   1174  ...  1933-34       2000-01            3
19              Mallorca      27   1148  ...  1960-61       2012-13            3
20            Las Palmas      33   1020  ...  1951-52       2015-16            2

[20 rows x 19 columns]

###Print all the teams which have started playing between 1930-1980.

In [21]:
Laliga.dtypes

0
Team             object
Seasons          object
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner_up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
Total            object
Debut            object
Since_LastApp    object
BestPosition     object
dtype: object

In [22]:
Laliga['Seasons'] = Laliga.Seasons.astype(int)
Laliga['Points'] = Laliga.Points.astype(int)
Laliga['GamesPlayed'] = Laliga.GamesPlayed.astype(int)
Laliga['GamesWon'] = Laliga.GamesWon.astype(int)
Laliga['GamesDrawn'] = Laliga.GamesDrawn.astype(int)
Laliga['GamesLost'] = Laliga.GamesLost.astype(int)
Laliga['GoalsFor'] = Laliga.GoalsFor.astype(int)
Laliga['GoalsAgainst'] = Laliga.GoalsAgainst.astype(int)
Laliga['Champion'] = Laliga.Champion.astype(int)
Laliga['Runner_up'] = Laliga.Runner_up.astype(int)
Laliga['Third'] = Laliga.Third.astype(int)
Laliga['Fourth'] = Laliga.Fourth.astype(int)
Laliga['Fifth'] = Laliga.Fifth.astype(int)
Laliga['Sixth'] = Laliga.Sixth.astype(int)
Laliga['Total'] = Laliga.Total.astype(int)
Laliga.dtypes

0
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner_up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
Total             int64
Debut            object
Since_LastApp    object
BestPosition     object
dtype: object

In [24]:
(Laliga.Debut[8])[0:4]

'1929'

In [25]:
Debut_List = Laliga.Debut
Debut_List.head(10)

Pos
1        1929
2        1929
3        1929
4     1931-32
5        1929
6     1934-35
7        1929
8        1929
9     1939-40
10    1932-33
Name: Debut, dtype: object

In [26]:
Debut_New=[]
for each_date in Debut_List:
        Debut_New.append(each_date[0:4])
Debut_New

Laliga['Debut_New'] = Debut_New

Laliga.head(10)

0               Team  Seasons  Points  ...  Since_LastApp  BestPosition  Debut_New
Pos                                    ...
1        Real Madrid       86    4385  ...           1929             1       1929
2          Barcelona       86    4262  ...           1929             1       1929
3    Atletico Madrid       80    3442  ...        2002-03             1       1929
4           Valencia       82    3386  ...        1987-88             1       1931
5    Athletic Bilbao       86    3368  ...           1929             1       1929
6            Sevilla       73    2819  ...        2001-02             1       1934
7           Espanyol       82    2792  ...        1994-95             3       1929
8      Real Sociedad       70    2573  ...        2010-11             1       1929
9           Zaragoza       58    2109  ...        2012-13             2       1939
10        Real Betis       51    1884  ...        2015-16             1       1932

[10 rows x 20 columns]

In [27]:
Laliga.dtypes

0
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner_up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
Total             int64
Debut            object
Since_LastApp    object
BestPosition     object
Debut_New        object
dtype: object

In [28]:

Laliga['BestPosition'] = Laliga.BestPosition.astype(int)
Laliga['Debut_New'] = Laliga.Debut_New.astype(int)
Laliga.dtypes

0
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner_up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
Total             int64
Debut            object
Since_LastApp    object
BestPosition      int64
Debut_New         int64
dtype: object

In [30]:
Laliga.Team[(Laliga.Debut_New >= 1930) & (Laliga.Debut_New <= 1980)]

Pos
4                Valencia
6                 Sevilla
9                Zaragoza
10             Real Betis
11    Deportivo La Coruna
12             Celta Vigo
13             Valladolid
15         Sporting Gijon
16                Osasuna
17                 Malaga
18                 Oviedo
19               Mallorca
20             Las Palmas
22                Granada
23         Rayo Vallecano
24                  Elche
26               Hercules
27               Tenerife
28                 Murcia
29                 Alaves
30                Levante
31              Salamanca
32               Sabadell
33                  Cadiz
35              Castellon
38                Cordoba
40             Recreativo
41              Burgos CF
42             Pontevedra
47              Gimnastic
50               Alcoyano
51                   Jaen
53             AD Almeria
55                 Lleida
58                 Condal
59        Atletico Tetuan
60       Cultural Leonesa
Name: Team, dtype: object

##3.Print the list of teams which came Top 5 in terms of points (5 points)

In [31]:
Laliga.columns

Index(['Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon', 'GamesDrawn',
       'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion', 'Runner_up',
       'Third', 'Fourth', 'Fifth', 'Sixth', 'Total', 'Debut', 'Since_LastApp',
       'BestPosition', 'Debut_New'],
      dtype='object', name=0)

In [32]:
Laliga_Pts = Laliga.sort_values('Points', ascending=False)
Laliga_Pts.head(10)

0               Team  Seasons  Points  ...  Since_LastApp  BestPosition  Debut_New
Pos                                    ...
1        Real Madrid       86    4385  ...           1929             1       1929
2          Barcelona       86    4262  ...           1929             1       1929
3    Atletico Madrid       80    3442  ...        2002-03             1       1929
4           Valencia       82    3386  ...        1987-88             1       1931
5    Athletic Bilbao       86    3368  ...           1929             1       1929
6            Sevilla       73    2819  ...        2001-02             1       1934
7           Espanyol       82    2792  ...        1994-95             3       1929
8      Real Sociedad       70    2573  ...        2010-11             1       1929
9           Zaragoza       58    2109  ...        2012-13             2       1939
10        Real Betis       51    1884  ...        2015-16             1       1932

[10 rows x 20 columns]

In [33]:
Top_5_Teams = Laliga_Pts.Team.head(5)
print(Top_5_Teams)

Pos
1        Real Madrid
2          Barcelona
3    Atletico Madrid
4           Valencia
5    Athletic Bilbao
Name: Team, dtype: object

####4.Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points) Goal_diff_count = GoalsFor - GoalsAgainst

In [34]:
Laliga.dtypes

0
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner_up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
Total             int64
Debut            object
Since_LastApp    object
BestPosition      int64
Debut_New         int64
dtype: object

In [0]:
#Defining function

def Goal_diff_count(GoalsFor,GoalsAgainst):
    return (GoalsFor - GoalsAgainst)

In [57]:
row_col = Laliga.shape
max_row = row_col[0]
max_row

61

In [74]:
print(Laliga.GoalsFor.tail())
print(Laliga.GoalsAgainst.tail())

Pos
57    38
58    37
59    51
60    34
61     0
Name: GoalsFor, dtype: int64
Pos
57    66
58    57
59    85
60    65
61     0
Name: GoalsAgainst, dtype: int64

In [0]:
Goal_diff_count_List=[]
i=0
while (i < max_row):
    i = i+1
    GoalsFor = Laliga.loc[i,"GoalsFor"]
    GoalsAgainst = Laliga.loc[i,"GoalsAgainst"]
    x = Goal_diff_count(GoalsFor,GoalsAgainst)
    Goal_diff_count_List.append(x)
Laliga["Goal_diff_count_List"] = Goal_diff_count_List

In [78]:
Laliga[["Team","Goal_diff_count_List"]].head(10)

0               Team  Goal_diff_count_List
Pos
1        Real Madrid                  2807
2          Barcelona                  2786
3    Atletico Madrid                  1225
4           Valencia                   929
5    Athletic Bilbao                   931
6            Sevilla                   307
7           Espanyol                  -280
8      Real Sociedad                    -2
9           Zaragoza                  -164
10        Real Betis                  -333

In [106]:
#Team with Maximum goal difference

Max_GD = Laliga["Goal_diff_count_List"].max()
print(Laliga[["Team","Goal_diff_count_List"]][Laliga.Goal_diff_count_List == Max_GD])

0           Team  Goal_diff_count_List
Pos
1    Real Madrid                  2807

In [107]:
#Team with Minimum goal difference

Min_GD = Laliga["Goal_diff_count_List"].min()
print(Laliga[["Team","Goal_diff_count_List"]][Laliga.Goal_diff_count_List == Min_GD])

0                Team  Goal_diff_count_List
Pos
14   Racing Santander                  -525

####5.Create a new column with name “Winning Percent” and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

In [0]:
Winning_Percent=[]
i=0
while (i < max_row):
    i = i+1
    GamesWon = Laliga.loc[i,"GamesWon"]
    GamesPlayed = Laliga.loc[i,"GamesPlayed"]
    Percentage_of_Winning = (GamesWon / GamesPlayed)*100
    Percentage_of_Winning = Percentage_of_Winning.astype(int)
    if Percentage_of_Winning > 0:
        Percentage_of_Winning = (str(Percentage_of_Winning) + "%")
    else:    
        Percentage_of_Winning = "0%"
    Winning_Percent.append(Percentage_of_Winning)
Laliga["Winning Percent"] = Winning_Percent

In [120]:
Laliga["Winning Percent"].head(10)

Pos
1     59%
2     57%
3     47%
4     44%
5     43%
6     41%
7     36%
8     37%
9     35%
10    35%
Name: Winning Percent, dtype: object

In [119]:
Laliga["Winning Percent"].tail(10)

Pos
52    29%
53    25%
54    33%
55    19%
56    21%
57    21%
58    23%
59    23%
60    16%
61     0%
Name: Winning Percent, dtype: object

###6.Print the top 5 teams which has the highest Winning percentage

Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
Eg: Best Position                Points

    1                  25000

    2                  7000

In [125]:
Winning_Percentage=[]
i=0
while (i < max_row):
    i = i+1
    GamesWon = Laliga.loc[i,"GamesWon"]
    GamesPlayed = Laliga.loc[i,"GamesPlayed"]
    Winning_Percent = (GamesWon / GamesPlayed)*100
    Winning_Percent = Winning_Percent.astype(int)
    Winning_Percentage.append(Winning_Percent)
Laliga["Winning_Percentage"] = Winning_Percentage
Laliga_Winning_Percentage = Laliga.sort_values('Winning_Percentage', ascending=False)
print("Top 5 teams which has the highest Winning percentage are as below") 
Laliga_Winning_Percentage[['Team','Winning_Percentage']].head()

Top 5 teams which has the highest Winning percentage are as below

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in long_scalars
  import sys

0               Team  Winning_Percentage
Pos
1        Real Madrid                  59
2          Barcelona                  57
3    Atletico Madrid                  47
4           Valencia                  44
5    Athletic Bilbao                  43

In [127]:
Laliga = Laliga.drop("Winning_Percentage", axis=1)
Laliga.head()

0               Team  Seasons  ...  Goal_diff_count_List  Winning Percent
Pos                            ...
1        Real Madrid       86  ...                  2807              59%
2          Barcelona       86  ...                  2786              57%
3    Atletico Madrid       80  ...                  1225              47%
4           Valencia       82  ...                   929              44%
5    Athletic Bilbao       86  ...                   931              43%

[5 rows x 22 columns]

In [0]:
Laliga_BestPosition = Laliga[["Points","BestPosition"]].sort_values('BestPosition', ascending=True)

In [141]:
Laliga_BestPosition.head()

0    Points  BestPosition
Pos
1      4385             1
2      4262             1
3      3442             1
4      3386             1
5      3368             1

In [142]:
Laliga_BestPosition.tail()

0    Points  BestPosition
Pos
43      148            17
56       35            17
48       83            17
49       81            19
57       34            20

In [152]:
Laliga_BestPosition.groupby("BestPosition").Points.sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64

####Thank You :)